{
  "BASIC_DOMAIN": "your-tenant.auth0.com",
  "BASIC_AUDIENCE": "https://your-api-identifier",
  "BASIC_CLIENT_ID": "your-client-id-basic",
  "BASIC_CLIENT_SECRET": "your-client-secret-basic",
  "BASIC_DPOP_MODE": "None",

  "DPOP_ALLOWED_DOMAIN": "your-tenant.auth0.com",
  "DPOP_ALLOWED_AUDIENCE": "https://your-api-identifier-dpop-allowed",
  "DPOP_ALLOWED_CLIENT_ID": "your-client-id-dpop-allowed",
  "DPOP_ALLOWED_CLIENT_SECRET": "your-client-secret-dpop-allowed",
  "DPOP_ALLOWED_DPOP_MODE": "Allowed",

  "DPOP_REQUIRED_DOMAIN": "your-tenant.auth0.com",
  "DPOP_REQUIRED_AUDIENCE": "https://your-api-identifier-dpop-required",
  "DPOP_REQUIRED_CLIENT_ID": "your-client-id-dpop-required",
  "DPOP_REQUIRED_CLIENT_SECRET": "your-client-secret-dpop-required",
  "DPOP_REQUIRED_DPOP_MODE": "Required"
}
